.associations-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 10%;
    grid-row-gap: 56px;
    
    img{
        max-width: 78%;
        display: inline-block;
        &.animated{
            position: relative;
            top:24px;
            transition: .4s all;
            will-change: top, opacity;
            opacity: 0;
        }
        &.is-visible{
            top:0;
            opacity: 1;
        }
    }
}

@media screen and (min-width:@screen-sm-min) {
    .associations-container{
        grid-template-columns: repeat(4, 1fr);
        
        grid-column-gap: 10%;
        grid-row-gap: 56px;
    }
    
}