<div class="about-us-additional show-on-scroll fade-up">
    <p>Nederman is an environmental technology company and a global leader in industrial air filtration dedicated to capturing, measuring, controlling and cleaning air to make industrial production more efficient, safe and sustainable. With expertise, products and turnkey solutions the Nederman Group protect people, planet and production from harmful effects of industrial processes. From duct and filters to advanced measurements technology for monitoring and control of the filtration process Nederman Group provide clean air optimized – reduced energy consumption, improved process efficiency, health and safety and compliance with laws and regulations.</p>

    <p>Nederman is listed on Nasdaq Stockholm and present in more than 50 countries.</p>
    <p>With local expertise and global presence our mission is clear – we shape the future for clean air.</p>

    <p>Learn more at <a href="https://nedermangroup.com">nedermangroup.com</a></p>
</div>