<div class="industry-partner-slider-wrp">
                        <div class="industry-partner-slider">
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-1.png" alt="Industry Partner">
                                </div>
                            </div>
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-2.png" alt="Industry Partner">
                                </div>
                            </div>
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-3.png" alt="Industry Partner">
                                </div>
                            </div>
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-4.png" alt="Industry Partner">
                                </div>
                            </div>
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-5.png" alt="Industry Partner">
                                </div>
                            </div>
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-6.png" alt="Industry Partner">
                                </div>
                            </div>
                            <div class="industry-partner-slider-item">
                                <div class="industry-partner-img">
                                    <img src="/img/industry-partner-7.png" alt="Industry Partner">
                                </div>
                            </div>
                        </div>
                    </div>