<footer class="colophon">
    <div class="container">
        <div class="footer-bottom">
            <div class="copyright">&copy; Duroair {{year}} | <a href="/legal">Legal</a> </div>
            <div class="social">
            <ul>
                        <li><a href="https://www.facebook.com/pages/Duroair/291419634213129"><img src="/img/footer/1.svg" alt="Image"></a></li>
                        <li><a href="https://www.linkedin.com/company/duroair-corp-"><img src="/img/footer/2.svg" alt="Image"></a></li>
                        <li><a href="https://twitter.com/Duroair"><img src="/img/footer/3.svg" alt="Image"></a></li>
                        <li><a href="https://www.youtube.com/c/Duroair"><img src="/img/footer/4.svg" alt="Image"></a></li>
                        <li><a href="/rss.xml"><img src="/img/footer/5.svg" alt="Image" target="_blank"></a></li>
                    </ul>
            </div>
        </div>
    </div>
</footer>