Duroair is experiencing intermittent disruption to our telephone system. Please contact us via email: <a href="mailto:info@duroair.com" style="color:#ffffff;text-decoration: underline;">info@duroair.com</a>