<div class="indsolution-card">
    <div class="indsolution-img">
        <img src="{{ industry.thumbnail }}" alt="{{ industry.title }}">
        <h3>{{ industry.title }}</h3>
    </div>
    <div class="onhvr-card">
        <div class="indsolutiononhvr-cntnt">
            <div class="h3-title">{{ industry.title }}</div>
            <p>{{ industry.description }}</p>
        </div>
        <a href="{{ industry.path }}" class="button">Explore More
            <span class="button__spotlight"></span>
        </a>
    </div>
</div>
