<nav>
            <div class="logo">
                   <a class="header-logo" href="/" title="Duroair Home">{% include "partials/inline-svg-logo.njk" %}</a>
            </div>
            <div class="navbar-collapse collapse">
                <button class="navbar-toggler navbar-toggler-main collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="stick"></span>
                </button>
                <ul class="navbar-nav ms-auto">
                        {%- for item in navs.primary -%}
                            <li class="nav-item-main nav-{{ item.name | lower }} {{ 'has-menu' if item.children.length else '' }}">
                                <a href="/{{ item.file.path | replace('index.html', '') }}" class="link primary-link level-0">
                                    {{ item.name | reverseSlug }}
                                    {%- if item.children.length -%} <i class="far fa-chevron-down"></i> {%- endif -%}
                                </a>

                                {%- if item.children.length or item.name == "solutions" -%}
                                <div class="nav-dropdown" aria-hidden="true">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="nav-dropdown-in">
                                                    <h2>{{ "Applications" if item.name == "solutions" else item.name }}</h2>
                                                    <div class="nav-dropdown-in-item-outer">
                                                        <div class="nav-dropdown-columns">
                                                            
                                                            {# Loop through normal children #}
                                                            {%- for child in item.children -%}
                                                                {%- if loop.index0 % 5 == 0 -%} 
                                                                <div class="nav-dropdown-column">
                                                                {%- endif -%}
                                                                    
                                                                    <div class="nav-dropdown-in-item">
                                                                        <a href="/{{ child.file.path | replace('index.html', '') }}">
                                                                            {{ child.file | navLabel }} <img src="/img/nav-icon.svg" alt="Image">
                                                                        </a>
                                                                    </div>

                                                                {%- if loop.index0 % 5 == 4 or loop.last -%} 
                                                                </div>
                                                                {%- endif -%}
                                                            {%- endfor -%}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {# Restart the loop to add Products inside Solutions #}
                                            {%- if item.name == "solutions" -%}
                                                    <div class="col-lg-6">
                                                        <div class="nav-dropdown-in">
                                                            <h2>Products</h2>
                                                            <div class="nav-dropdown-in-item-outer">
                                                                <div class="nav-dropdown-columns">
                                                                    {%- for item in navs.primary -%}
                                                                    {%- if item.name == "products" -%}
                                                                    {# Loop through normal children #}
                                                                    {%- for child in item.children -%}
                                                                        {%- if loop.index0 % 5 == 0 -%} 
                                                                        <div class="nav-dropdown-column">
                                                                        {%- endif -%}
                                                                            
                                                                            <div class="nav-dropdown-in-item">
                                                                                <a href="/{{ child.file.path | replace('index.html', '') }}">
                                                                                    {{ child.file | navLabel }} <img src="/img/nav-icon.svg" alt="Image">
                                                                                </a>
                                                                            </div>

                                                                        {%- if loop.index0 % 5 == 4 or loop.last -%} 
                                                                        </div>
                                                                        {%- endif -%}
                                                                    {%- endfor -%}
                                                                    {%- endif -%}
                                                                    {%- endfor -%}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                </div>
                                {%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
            </div>
        <div class="nav-right-part d-flex align-items-center">
            <div class="service-request-search">
                  <a href="/request-for-quote/" class="btn btn-rfq">Request for Quote</a>
                  <a id="search-trigger" data-search-trigger><svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21"><g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2" transform="rotate(-49 9.065 8.931)"><circle cx="8.97" cy="8.928" r="8" /><path stroke-linecap="round" d="M8.83695536,16.9684378 L8.83695536,24.9684378" /></g></svg></a>
            </div>
                <button class="navbar-toggler navbar-toggler-main" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="stick"></span>
                </button>
        </div>
</nav>
