<script type='application/ld+json'>
    {
        "@context":"https://schema.org",
        "@type":"WebSite",
        "@id":"https://www.duroair.com/",
        "url":"https://www.duroair.com/","name":
        "Duroair"
    }
</script>

<script type="application/ld+json">
    { "@context" : "https://schema.org",
        "@type" : "Organization",
        "url" : "https://www.duroair.com",
        "name": "Duroair Technologies Inc.",
        "logo": "https://www.duroair.com/img/logo.svg",
        "image": "https://www.duroair.com/img/logo.svg",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "5850 Don Murie Street, Unit D",
            "addressLocality": "Niagara Fall",
            "addressRegion": "Ontario",
            "postalCode": "L2G 0B3",
            "addressCountry": "CA"
        },
        "contactPoint" : [
        { "@type" : "ContactPoint",
            "telephone" : "+1-888-730-0911",
            "contactType" : "Sales",
            "contactOption" : "TollFree",
            "areaServed" : "CA"
        }, 
        { "@type" : "ContactPoint",
            "telephone" : "+1-716-901-7483",
            "contactType" : "Sales",
            "areaServed" : "US"}
        ],
        "sameAs": [
            "https://www.facebook.com/pages/Duroair/291419634213129",
            "https://twitter.com/Duroair",
            "https://www.linkedin.com/company/duroair-corp-",
            "https://www.youtube.com/c/Duroair"
            ]
        }
    </script>