<div class="global-leaders-in">
                    <ul>
                    <li><img src="/img/trusted-by-global-leaders/1.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/2.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/3.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/4.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/5.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/6.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/7.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/8.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/9.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/10.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/11.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/12.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/13.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/14.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/15.png" alt="Image"></li>
                    <li><img src="/img/trusted-by-global-leaders/16.png" alt="Image"></li>
                    </ul>
</div>