{% extends "layout.njk" %}
{% set hideFooterCta = true %}
{% block body %}

    <!-- Contact Us Section Begin -->

    <div class="contact-us-sec cmn-gap">
        <div class="container">
            <div class="contact-us-inr">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-us-left">
                            <div class="sec-inr-head">
                                {{ contents | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-us-right">
                            <div class="contact-us-right-inr">
                                <div class="contact-us-right-inr-head">
                                    <h3 class="h2">{{form_intro}}</h3>
                                </div>
                                {% include "partials/hubspot-form.njk" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- End Of Contact Us Section -->


    <!-- Map Section Begin -->

        <div class="contact-pg-work-sec">
            <div class="cntctwrk-img-wrp">
                <div class="cntctwrk-img">
                    <img src="/img/form-page-banner.png">
                </div>
            </div>
        </div>

    <!-- End Of Map Section -->
    <script>
        window.indNoPromo = true;
    </script>
{% endblock %}