{% extends "layout.njk" %}
{% set waveType = 'gray' %}
{% block body %}

    <!-- Industries Section Begin -->

    <div class="industry-cstm-sec">
        <div class="container">
            <div class="ind-cstm-inr">
                <div class="indcstm-row row">
                    <div class="indcstm-left-wrp col-lg-6">
                        <div class="indcstm-left">
                            <div class="sec-inr-head">
                                <h2>Built for Your Industry, Customized for You.</h2>
                                 <p>Duroair engineers custom containment solutions paired with tailored filtration systems to create flexible work environments that enhance production standards, address workflow challenges, and protect people and processes. Duroair systems are designed to isolate and contain industrial hazards and filter contaminants OR protect sensitive manufacturing processes from external contamination. Every system is designed around your processes to create a more clean, productive and safe work environment.<br><br>
                                </p>
                                <p>Duroair modular enclosures can be placed anywhere in a manufacturing facility.  Our portable, retractable enclosures with air filtration can be engineered for large or small self-contained work environments, wherever and whenever needed. Whether isolating a manufacturing process from the larger work environment (negative pressure) or safeguarding a process from contamination (positive pressure), our DuroRoom™ and engineered filtration systems help ensure worker safety from harmful dust and fumes, while reducing costs and boosting productivity.<br><br></p>
                                <p>DuroRoom™ enclosures are used for dust control, painting and coating, clean rooms, isolation rooms, anterooms or gowning rooms, and non-destructive testing environments.<br><br></p>
                            </div>
                        </div>
                    </div> 
                    <div class="indcstm-right-wrp col-lg-6">
                        <div class="indcstm-right">
                            <div class="indcstm-img indcstmimg-1">
                                <img src="/img/industry-img-1.png" alt="Industry Image">
                            </div>
                            <div class="indcstm-img indcstmimg-2">
                                <img src="/img/industry-img-2.png" alt="Industry Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- End Of Industries Section -->

  <!-- Indus Solution Section begin -->
<div class="ind-solution-sec">
    <div class="container">
        <div class="ind-solution-inr has-texture">
            <div class="texture"><img src="/img/curved-bg.svg" alt="Texture"></div>
            <div class="sec-head">
                <h2>Solutions for Your Industry</h2>
            </div>
            <div class="indsolution-cards-row row">

                <div class="indsoution-card-wrp col-lg-4">
                    {%- for industry in industries -%}
                        {%- if loop.index <= 2 -%}
                            <div class="indsolution-card">
                                <div class="indsolution-img">
                                    <img src="{{ industry.thumbnail }}" alt="{{ industry.title }}">
                                    <h3>{{ industry.title }}</h3>
                                </div>
                                <div class="onhvr-card">
                                    <div class="indsolutiononhvr-cntnt">
                                        <div class="h3-title">{{ industry.title }}</div>
                                        <p>{{ industry.description }}</p>
                                    </div>
                                    <a href="/{{ industry.path }}" class="button">Explore More
                                        <span class="button__spotlight"></span>
                                    </a>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="indsoution-card-wrp col-lg-4">
                    {%- for industry in industries -%}
                        {%- if loop.index > 2 and loop.index <= 5 -%}
                            <div class="indsolution-card">
                                <div class="indsolution-img">
                                    <img src="{{ industry.thumbnail }}" alt="{{ industry.title }}">
                                    <h3>{{ industry.title }}</h3>
                                </div>
                                <div class="onhvr-card">
                                    <div class="indsolutiononhvr-cntnt">
                                        <div class="h3-title">{{ industry.title }}</div>
                                        <p>{{ industry.description }}</p>
                                    </div>
                                    <a href="/{{ industry.path }}" class="button">Explore More
                                        <span class="button__spotlight"></span>
                                    </a>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="indsoution-card-wrp col-lg-4">
                    {%- for industry in industries -%}
                        {%- if loop.index > 5 -%}
                            <div class="indsolution-card">
                                <div class="indsolution-img">
                                    <img src="{{ industry.thumbnail }}" alt="{{ industry.title }}">
                                    <h3>{{ industry.title }}</h3>
                                </div>
                                <div class="onhvr-card">
                                    <div class="indsolutiononhvr-cntnt">
                                        <div class="h3-title">{{ industry.title }}</div>
                                        <p>{{ industry.description }}</p>
                                    </div>
                                    <a href="/{{ industry.path }}" class="button">Explore More
                                        <span class="button__spotlight"></span>
                                    </a>
                                </div>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>

            </div>
        </div>
    </div>
</div>

<!-- End of Indus Solution Section -->

<!-- Case Studies Section Begin -->

<div class="case-study-sec">
    <div class="container">
        <div class="case-study-inr">
            <div class="sec-head">
                <h2>Case Studies</h2>
            </div>
            <div class="row">
                <div class="case-study-slider-wrp">
                    <div class="case-study-slider">
                        {%- for caseStudy in caseStudies -%}
                        <div class="casesl-item">
                        <a href="/{{ caseStudy.path }}" class="arw-btn-icon">
                            <div class="cs-item-inr">
                                <div class="csitem-img">
                                    <img src="{{ caseStudy.small_image }}" alt="{{ caseStudy.title }}">
                                </div>
                                <div class="case-sdy-content">
                                    <h3>{{ caseStudy.title }}</h3>
                                    <a href="/{{ caseStudy.path }}" class="arw-btn-icon">
                                        <img src="/img/arw-btn-icon.svg" alt="Icon">
                                    </a>
                                </div>
                            </div>
                            </a>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
                <div class="case-study-nav-slider-wrp">
                    <div class="cstdy-slider-nav-inr-wrp">
                        <div class="csstdy-nav-slider cmnslider">
                            {%- for caseStudy in caseStudies -%}
                            <div class="csstdy-slider-item">
                                <div class="csstdy-item-inr">
                                    <div class="csstdyitem-img">
                                        <img src="{{ caseStudy.small_image }}" alt="{{ caseStudy.title }}">
                                    </div>
                                    <div class="csstdynv-content">
                                        <h3>{{ caseStudy.title }}</h3>
                                    </div>
                                </div>
                            </div>
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Of Case Studies Section -->





{% endblock %}